.civiDirectoryForm {
  border-bottom: lightgrey solid 1px;
  padding: 10px;
  margin-bottom: 20px;
}

.civiDirectoryForm input.searchButton {
 margin-top: 20px;
 margin-bottom: 10px;
}

.civiDirectoryForm label {
 padding-top: 20px;
}

.pwsacontact h3 {
 margin-bottom: 0px;
}

.pwsacontact a h3 {
 color: #c41230;
}

.pwsacontact a h3:hover {
 text-decoration: underline;
}

#specialty,
.displayName {
 width: 386px;
}

#specialty {
 height: 36px;
}
