div.civicontact {
 width: 400px;
 display: inline-block;
}

.civiDirectoryForm {
  border-bottom: lightgrey solid 1px;
  padding: 10px;
  margin-bottom: 20px;
}

.civiDirectoryForm input.searchButton {
 margin-top: 20px;
 margin-bottom: 10px;
}

.civiDirectoryForm label {
 padding-top: 20px;
}

.civicontact h3 {
 margin-bottom: 0px;
}

.civicontact a h3:hover {
 text-decoration: underline;
}

select.specialty,
.displayName {
 width: 386px;
}

select.specialty {
 height: 36px;
}


/* Accordion */
.ui-accordion .ui-state-active {
  background-color: var(--nv-primary-accent);
  border-color: var(--nv-primary-accent);
}

.ui-accordion h2.ui-accordion-header {
font-size: var(--h2fontsize);
  font-weight: var(--h2fontweight);
  line-height: var(--h2lineheight);
  letter-spacing: var(--h2letterspacing);
  text-transform: var(--h2texttransform)
}

.ui-accordion-content {
  display: flex;
  flex-wrap: wrap;
}

#osm_map {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) {
  #osm_map, .resultsDiv {
    width: 50%;
  }
}
